In [2]:
import pandas as pd
import requests

In [3]:
data = pd.read_csv("private_fires.csv", ";")

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
data.shape

(22848, 9)

In [5]:
data.head(5)

,YEAR,FIREID,DT,ACTIVE_FIR,THERMOPOIN,IGNITION_D,DURATION,BURNED_ARE,MAX_ACTIVE
0,2017,45285,2017-09-21,"POLYGON((37.95670402 45.32997253,37.94090926 4...",1,2017-09-21,4,263.415930,143.767591
1,2017,45285,2017-09-25,"POLYGON((37.94552562 45.33585118,37.93244979 4...",1,2017-09-21,4,263.415930,143.767591
2,2020,37875,2020-08-06,"POLYGON((41.67458479 47.61205064,41.67115177 4...",1,2020-08-06,7,357.862905,203.659388
3,2020,37875,2020-08-11,"POLYGON((41.68347095 47.60844944,41.67481832 4...",1,2020-08-06,7,357.862905,203.659388
4,2020,37875,2020-08-13,"POLYGON((41.6673391 47.61736519,41.66425823 47...",1,2020-08-06,7,357.862905,203.659388

In [6]:
data["YEAR"].value_counts()

2012    3432
2020    2414
2014    2264
2019    2223
2016    2126
2011    2031
2015    2011
2017    1836
2018    1414
2013    1389
2009     966
2010     742
Name: YEAR, dtype: int64

In [39]:
data["FIREID"].value_counts()

6921     126
35975     64
337       62
30429     62
32822     58
        ...
40333      2
4556       2
15167      2
6644       2
45285      2
Name: FIREID, Length: 3728, dtype: int64

In [40]:
data[data['FIREID'] == 45285]

,YEAR,FIREID,DT,ACTIVE_FIR,THERMOPOIN,IGNITION_D,DURATION,BURNED_ARE,MAX_ACTIVE
0,2017,45285,2017-09-21,"POLYGON((37.95670402 45.32997253,37.94090926 4...",1,2017-09-21,4,263.41593,143.767591
1,2017,45285,2017-09-25,"POLYGON((37.94552562 45.33585118,37.93244979 4...",1,2017-09-21,4,263.41593,143.767591